{{#each erros}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Criar Lote</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br>

        <a href="/admin/lotes">
          <button class="btn btn-info"> Voltar </button>
        </a>
        
        <br>
        <br>
    </div><!-- /.container-fluid -->
</div>


<div class="col-md-6" style="display: contents;">
            <!-- general form elements -->
        <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Novo Lote</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
          <form id="frm-example">
                <div class="card-body">

                  <label for="">Lista de Pacotes</label>
                  <br><br>


                    <table id="example" class="display" >
                            <thead>
                                <tr>
                                    <th style="display:none;">ID</th>
                                    <th>Nº do Pacote</th>
                                    <th>Destinatário</th>
                                    <th>Endereço</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th>Cliente</th>
                                    <th>Data</th>

                                </tr>
                            </thead>
                            <tbody>
                              {{#each allpackage}}
                                <tr>
                                    <td style="display:none;">{{_id}}</td>
                                    <td>{{code}}</td>
                                    <td>{{receiver}}</td>
                                    <td>{{address}}</td>
                                    <td>{{district}}</td>
                                    <td>{{city}}</td>
                                    <td>{{state}}</td>
                                    {{#each Id_client}}
                                    <td>{{name}}</td>
                                    {{else}}
                                    {{/each}} 
                                    <td>{{dateDelivery createdAt}}</td>
                                </tr>

                                {{else}}
                                {{/each}} 
                            </tbody>
                    </table>

                  <button type="reset" id="addbutton" class="btn btn-info">Adicionar</button>

                </div>

          </form>

          </div>
</div>
           


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>


<script>
$(document).ready(function() {
   var table = $('#example').DataTable({
      "ordering": true,
      "info":     false, 
      "lengthChange": true, 
      "lengthMenu": [[10, 50, 100, 500, 1000, -1], [10, 50, 100, 500, 1000, "All"]],
      "autoWidth": true,     
      'columnDefs': [
         {
            'targets': 0,
            'checkboxes': {
               'selectRow': true
            }
         }
      ],
      'select': {
         "style": 'multi+shift', // 'single', 'multi', 'os', 'multi+shift'
      },
      'order': [[1, 'asc']]
   });	
   
   
   $('#addbutton').on('click', function(e){
   var form = this;
   var rows_selected = table.rows('.selected').data();
   var selected_items = [];

    $.each(rows_selected, function(index, rowId){

      selected_items.push({id:rowId[0]});
      
    });   


        if (selected_items[0].id == undefined){
          Swal.fire('Selecione Pacotes', '', 'info')
        } else {

                      Swal.mixin({
                        input: 'text',
                        confirmButtonText: 'Next &rarr;',
                        showCancelButton: true,
                        progressSteps: ['1']
                      }).queue([
                        {
                          title: 'Observações',
                          text: 'Informações referentes ao lote'
                        },
                      ]).then((result) => {
                        if (result.value) {
                              Swal.fire({
                              title: 'Criar lote',
                              showDenyButton: true,
                              confirmButtonText: `Sim`,
                              denyButtonText: `Não`,
                            }).then((resultbratch) => {
                                if (resultbratch.isConfirmed) {
                                  selected_items.push({note:result.value});
                              $.ajax({
                                url:'/admin/addlote',
                                method:'POST',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: JSON.stringify(selected_items), 
                              }).done(async function(retorno){
                                if (retorno.info == "loteok"){
                                  await Swal.fire('Lote criado', '', 'success')
                                  location.reload();
                                  
                                }
                              })
                          
                          } else if (result.isDenied) {
                            Swal.fire('Lote não criado', '', 'info')
                          }
                      })
                        }
                      })

        }

}); 
});	
</script>