{{#each erros}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Adicionar Pacote</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br>

        <a href="/admin/pacotes">
          <button class="btn btn-info"> Voltar </button>
        </a>
        
        <br>
        <br>
    </div><!-- /.container-fluid -->
</div>


<div class="col-md-6" style="display: contents;">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Novo Pacote</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/admin/addpacote" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="">Nº do Pacote</label>
                    <input type="text" class="form-control" name="code" placeholder="Código do Pacote">
                  </div>
                  <div class="form-group">
                      <label for="">Empresa cliente</label>
                      <select class="form-control" name="company">
                        {{#each allcompany}}
                        <option value={{_id}}>{{name}}</option>
                        {{else}}
                        <option>Empresas Não cadastradas</option>
                        {{/each}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="">Tipo do Item</label>
                      <select class="form-control" name="type">
                        {{#each alltypes}}
                        <option value={{_id}}>{{type}}</option>
                        {{else}}
                        <option>Tipo Não cadastradas</option>
                        {{/each}}
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="">Nº da Nota</label>
                    <input type="number" class="form-control" name="notenumber" placeholder="Número da nota fiscal">
                  </div>
                  <div class="form-group">
                    <label for="">Destinatário</label>
                    <input type="text" class="form-control" name="receiver" placeholder="Destinatário">
                  </div>
                  <div class="form-group">
                    <label for="">CEP</label>
                    <input type="text" class="form-control" name="cep" placeholder="">
                  </div>               
                  <div class="form-group">
                    <label for="">Endereço</label>
                    <input type="text" class="form-control" name="address" placeholder="Endereço">
                  </div>
                  <div class="form-group">
                    <label for="">Bairro</label>
                    <input type="text" class="form-control" name="district" placeholder="Bairro">
                  </div>
                  <div class="row">
                  <div class="form-group" style="padding-inline-end: 20px; width: 500px; padding-left: 6px;">
                    <label for="">Cidade</label>
                    <input type="text" class="form-control" name="city" placeholder="Cidade">
                  </div>
                  <div class="form-group">
                    <label for="">Estado</label>
                    <input type="text" class="form-control" name="state" placeholder="Estado">
                  </div>
                   </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Adicionar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
</div>


{{!-- </div> --}}


