  <link rel="stylesheet" href="/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Informações do Lote {{allPackageinbatchs._id}}</h1>
            <input type="hidden" id="idBatch" name="idBatch" value="{{allPackageinbatchs._id}}">
            <input type="hidden" id="statusBatch" name="statusBatch" value="{{allPackageinbatchs.status}}">
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br>

        <a href="/admin/lotes">
          <button class="btn btn-info"> Voltar</button>
        </a>
        
        <br>
        <br>
    </div><!-- /.container-fluid -->
</div>



<div class="card">
              <div class="card-header">
                <h3 class="card-title">Pacotes do Lote {{allPackageinbatchs._id}} </h3>
              </div>
              <!-- /.card-header -->
            <div class="card-body">

               
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nº Pacote</th>
                    <th>Destinatário</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>CEP</th>
                    <th>Estado</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                      {{#each allPackageinbatchs}}
                      {{#each Package_list}}

                  <tr>
                    <td>{{code}}</td>
                    <td>{{receiver}}</td>
                    <td>{{address}}</td>
                    <td>{{district}}</td>
                    <td>{{cep}}</td>
                    <td>{{state}}</td>
                    <td>{{statusColor status}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="window.location='/admin/editpacote/{{id}}'">
                          <i class="fas fa-pencil-alt"></i> 
                          Editar 
                        </button>

                        <button class="btn btn-danger btn-sm" onclick="deletar('{{id}}')">
                          <i class="fas fa-pencil-alt"></i> 
                          Deletar 
                        </button>
                      </td>
                    </td>
                  </tr>
                  {{else}}
                  {{/each}} 
                  {{else}}
					        {{/each}} 
                  </tbody>
                 </table>

            </div>

</div>


<!-- DataTables  & Plugins -->
<script src="/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/jszip/jszip.min.js"></script>
<script src="/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


<script>
  $(function () {
    $("#example1").DataTable({
      "searching": true, "responsive": true, "lengthChange": false, "bInfo" : false, "autoWidth": false,
      "buttons": ["excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>

<script>
function deletar(id) {
                Swal.fire({
                  title: 'Deseja deletar?',
                  text: "",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Sim'
                }).then((result) => {
                  if (result.value) {
                    var selected_items = [];
                    selected_items.push({idBatch:document.getElementById("idBatch").value,  idStatus:document.getElementById("statusBatch").value, idPackage: id});
                    $.ajax({
                      url:'/admin/inlote/delPackage',
                      method:'POST',
                      contentType: 'application/json',
                      dataType: 'json',
                      data: JSON.stringify(selected_items), 
                    })
                    .done(async function(retorno){

                    if (retorno.ok == "deletok"){

                        await Swal.fire({
                          position: 'top-end',
                          icon: 'success',
                          title: 'Deletado',
                          showConfirmButton: false,
                          timer: 1500
                        })

                        location.reload();

                      }else if (retorno.ok == "accessdenied"){

                          await Swal.fire('Acesso Bloqueado', '', 'error')

                        location.reload();

                      }
                  })
                  }  
                })
            }


</script>



