<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Informações de Lotes</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br>
        
        <a href="/admin/addlote">
          <button class="btn btn-info"> Adicionar</button>
        </a>


        <br>
        <br>
    </div><!-- /.container-fluid -->
</div>



<div class="card">
              <div class="card-header">
                <h3 class="card-title">Listagem de Lotes</h3>
              </div>
              <!-- /.card-header -->
            <div class="card-body">
                
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID Lote</th>
                    <th>Entregador</th>
                    <th>Status</th>
                    <th>Acções</th>
                  </tr>
                  </thead>
                  <tbody>
                      {{#each allbatchs}}
                  <tr>
                    <td>{{_id}}</td>
                    {{#each Id_deliveryman}}
                    <td>{{name}}</td>
                    {{else}}
                    {{/each}} 
                    <td><span class="badge bg-warning">{{status}}</span></td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                    </td>
                  </tr>
                    {{else}}
					{{/each}} 
                  </tbody>
                 </table>

            </div>

</div>


