
<div class="content-header">
<div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-user-tie"></i>
                   - Área do Cliente:
                </h3>
              </div>
              <div class="card-body">
                <blockquote>
                  <p><strong>Empresa: </strong>{{clientData.name}}</p>
                  <p><strong>CNPJ: </strong>{{clientData.cnpj}}</p>

                </blockquote>
              </div>
            </div>
          </div>

    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0">Dashboard</h1><br><br>
<div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{pending}}</h3>

                <p>Pacotes Pendentes</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/client/pacotes?filter=Pendente" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{delyvered}}</h3>

                <p>Entregues</p>
              </div>
              <div class="icon">
                <i class="ion ion-checkmark-round"></i>
              </div>
              <a href="/client/pacotes?filter=Entregue" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>{{onroute}}</h3>

                <p>Em rota</p>
              </div>
              <div class="icon">
                <i class="ion ion-alert-circled"></i>
              </div>
              <a href="/client/pacotes?filter=Em%20rota" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{faiuldelivery}}</h3>

                <p>Falha na Entrega</p>
              </div>
              <div class="icon">
                <i class="ion ion-close-circled"></i>
              </div>
              <a href="/client/pacotes?filter=Falha na Entrega" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>

                  <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Listas</h3>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Nº da Lista</th>
                    <th>Status</th>
                    <th>Qt. de Pacotes</th>
                    <th>Tipo</th>
                    <th>Data de Adição</th>
                    <th>Entregues</th>
                    <th>Falha na Entrega</th>
                  </tr>
                  </thead>
                  <tbody>
                {{#each list}}
                  <tr>
                    <td><a href="/client/pacotes?nlist={{Id_List}}">{{Id_List}}</a></td>
                    <td>{{status}}</td>
                    <td>{{Qt_Sucess}}</td>
                    <td>{{statusColor type}}</td>
                    <td>{{dateDelivery createdAt}}</td>
                    <td>{{Qt_delivery}}</td> 
                    <td>{{Qt_errorDelivery}}</td>
                  </tr>
                    {{else}}
                    <td>Não definido</td>
                    {{/each}} 
                   </tbody>
                </table>
              </div>
            </div>

</div>
</div>
</div>
</div>